<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yabongguri.dnflukeraidmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.LukeRaid"
            android:label="@string/lr">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.CardPattern"
            android:label="@string/card_pattern">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.Jj"
            android:label="@string/jj">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.Tb"
            android:label="@string/tb">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.HellChannel"
            android:label="@string/hell_channel">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.Pppt"
            android:label="@string/jj_pppt">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.PpptPa1"
            android:label="@string/jj_pppt">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.PpptPa2"
            android:label="@string/jj_pppt">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.PpptPa3"
            android:label="@string/jj_pppt">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.PpptTan3"
            android:label="@string/jj_pppt">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.Ttsss"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.TtsssTan1"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.TtsssTan2"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.TtsssSo1"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.TtsssSo2"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.TtsssSo3"
            android:label="@string/jj_ttsss">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.juji.Others"
            android:label="@string/jj_others">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.Lumen"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.LumenMap1"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.LumenMap2"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.LumenMap3"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.LumenMap4"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.LumenMap5"
            android:label="@string/tb_lu">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.Caligo"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.CaligoMap1"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.CaligoMap2"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.CaligoMap3"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.CaligoMap4"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.CaligoMap5"
            android:label="@string/tb_cal">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.Energy"
            android:label="@string/tb_energy">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.tobul.Success"
            android:label="@string/success">
        </activity>
        <activity
        android:name="com.yabongguri.dnflukeraidmap.illuke.IlMapSelect"
        android:label="@string/il_select">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap1"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap2"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap3"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap4"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap5"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.illuke.IllukeMap6"
            android:label="@string/il_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleSelect"
            android:label="@string/single_select">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst0"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond0"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst1"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond1"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst2"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond2"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst3"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond3"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst4"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond4"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidFirst5"
            android:label="@string/single_luke">
        </activity>
        <activity
            android:name="com.yabongguri.dnflukeraidmap.single.SingleRaidSecond5"
            android:label="@string/single_luke">
        </activity>
    </application>

</manifest>